
h1 {
	border-bottom: 2px solid black;
	padding-bottom: 0.1em;
}

h2 {
	border-bottom: 1px solid dimgray;
	padding-bottom: 0.1em;
}

h3 {

}

h4 {

}

pre.highlight {
	border: 2px dashed red;
	background: #F8F8F8;
	padding: 0.5em;
}
.highlight-c {
	color: pink;
}
.highlight-c .n {
	color: black;
}
.highlight-c .nb {
	color: black;
}
.highlight-c .c1 {
	color: green;
}
.highlight-c .o {
	color: purple;
}
.highlight-c .p {
	color: purple;
}
.highlight-c .c1 {
	color: green;
}
.highlight-c .mi {
	color: navy;
}
.highlight-c .k, .highlight-c .kt {
	color: blue;
}